# FOR XML PATH('')：转义“特殊”字符

<span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);"><a class="aw-user-name" href="https://github.com/ciste" data-id="223" target="_blank" rel="nofollow" style="box-sizing: border-box; background: 0px 0px; color: rgb(21, 95, 170); cursor: pointer; line-height: 20px;">ciste</a>&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">发布于 2018-07-07&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">•&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">在&nbsp;<a href="https://www.oomake.com/topic/tsql" class="text" style="box-sizing: border-box; background: 0px 0px; color: rgb(21, 95, 170); cursor: pointer;">tsql</a>&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">•&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">最后更新 2018-07-07 12:04&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">•&nbsp;</span> <span style="box-sizing: border-box; color: rgb(153, 153, 153); font-family: Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Noto Sans&quot;, Roboto, &quot;Microsoft Yahei&quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);">289 浏览</span>

In [9]:
/* 本地化解读所模拟的缺失部分数据，疑似解码用 */
drop table ##Numbers;
select * into ##Numbers
from (values
        (1, 1),
        (2, 2)) as a(Number, b);
select * from ##Numbers

Number,b
1,1
2,2

In [ ]:
-- T-SQL编程：循环样例
declare @i INT
SET @i = 1
while @i<= 10
    BEGIN
    print @i
    SET @i = @i + 1
    END

In [ ]:
declare @i INT
SET @i = 1
while @i<= 10
    BEGIN
    print @i
    SET @i = @i + 1
    END

In [34]:
DECLARE @R           char(40)
DECLARE @U           char(40)
SET @R=' abcdefghijklmnopqrstuvwxyz!@#$%^&*()_+'+char(181)
SET @U=REVERSE(@R)
DECLARE @TestTable TABLE (RowID int identity(1,1) primary key, Unreadable  varchar(500))
INSERT INTO @TestTable VALUES ('+µt$zw!*µsu+yt!+s$xy')
INSERT INTO @TestTable VALUES ('%*!!xµpxu!(')
INSERT INTO @TestTable VALUES ('pxpµnxrµu+yµs%$t')
select * from @TestTable
;WITH CodeValues AS
    (
    SELECT
        Number,SUBSTRING(@R,Number,1) AS R,ASCII(SUBSTRING(@U,Number,1)) AS UA
        , @R rr, @U uu
        FROM ##Numbers
        -- WHERE Number<=LEN(@R)
    )
    select *, char(181) from CodeValues
    -- SELECT
    --     t.RowID
    --         ,(SELECT
    --               ''+c.R
    --               FROM #Numbers               n
    --                   INNER JOIN CodeValues  c ON ASCII(SUBSTRING(t.Unreadable,n.Number,1))=c.UA
    --               WHERE n.Number<=LEN(t.Unreadable) 
    --               FOR XML PATH('') 
    --          ) AS readable
    --     FROM @TestTable t
    select * from ##numbers

RowID,Unreadable
1,+μt$zw!*μsu+yt!+s$xy
2,%*!!xμpxu!(
3,pxpμnxrμu+yμs%$t

Number,R,UA,rr,uu,(无列名称)
3,NULL,NULL,NULL,NULL,NULL
5,NULL,NULL,NULL,NULL,NULL
10,NULL,NULL,NULL,NULL,NULL

Number,b
3,2
5,3
10,4

## 上述输出结果：

```
RowID       readable
----------- ---------------------------------------
1           a&#x20;simple&#x20;translation
2           hello&#x20;world
3           wow&#x20;you&#x20;ran&#x20;this
```

## 期待结果：

```
RowID       readable
----------- ---------------------------------------
1           a simple translation
2           hello world
3           wow you ran this
```

[xsint](https://www.oomake.com/people/xsint) <span class="text-color-999" style="box-sizing: border-box; font-size: 12px; color: rgb(153, 153, 153);">2018-07-07</span>

你得到的XML是正确的。它是XML，而不是文本，可以通过XML解析器以XML的形式读取。正如他们应该的那样，特殊字符正确地逃脱了。无论您使用哪种客户端模块，该XML都应将其解析为XML，而不是文本，然后才能正确显示。 更新： 如果不清楚，在查询中需要做的只是将XML作为XML和文本作为文本处理，而不是将XML作为文本进行混合，即：

In [ ]:
;WITH CodeValues AS
    (
    SELECT
        Number,SUBSTRING(@R,Number,1) AS R,ASCII(SUBSTRING(@U,Number,1)) AS UA
        FROM Numbers
        WHERE Number<=LEN(@R)
    )
, XmlValues AS (
SELECT
        t.RowID
            ,(SELECT
                  ''+c.R
                  FROM Numbers               n
                      INNER JOIN CodeValues  c ON ASCII(SUBSTRING(t.Unreadable,n.Number,1))=c.UA
                  WHERE n.Number<=LEN(t.Unreadable) 
                  FOR XML PATH(''), TYPE
             ) AS readable
        FROM @TestTable t)
SELECT x.RowId,
    x.readable.value('.', 'VARCHAR(8000)') as readable
    FROM XmlValues AS x